$color-primary: #286435;
$color-secondary: maroon;
$color-white: #fff;
$color-black: #222;
$color-warning: yellow;
$color-info: #7ebf9f;
$gray-darkest: #333;
$gray-dark: #666;
$gray: #999;
$gray-light: #ccc;
$gray-lightest: #f9f9f9;


