$color-primary: teal;
$color-secondary: maroon;
$color-white: #fff;
$color-black: #000;
$color-warning: yellow;
$color-info: #7ebf9f;

$gray-lightest: #f9f9f9;
$gray-light: #c7c7c7;
$gray: #7f7f7f;
$gray-dark: #595959;
$gray-darkest: #303030;