$font-size-base: 16px;
$font-size-xsmall: 0.75rem; //12px
$font-size-small: 0.875rem; //14px
$font-size-medium: 1.125rem; //18px
$font-size-large: 1.5rem; //24px
$font-size-xlarge: 2.25rem; //36px
$font-size-xxlarge: 3rem; //48px