html, body {
  font-size: $font-size-base;
}

.container {
  padding: 0 $gutter;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;

  @media (min-width: $screen-md-min) {
    padding: 0 $gutter*2;
  }
}

main {
  padding-top: $header-height;
  width: 100%;
  min-height: 100vh;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
}
