html, body {
  font-size: $font-size-base;
  line-height: $line-height-base;
}


.container {
  padding: 0 $gutter;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;

  @media (min-width: $screen-md-min) {
    padding: 0 $gutter*2;
  }
}

main {
  padding-top: $header-height;
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-family: $font-family-base;
}
