[data-wio-id] {
  position: relative;
}

.wio-link {
  position: absolute;
  top: $margin-base;
  right: $margin-base;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba($color-warning, 0.6);
  z-index: $prismic-edit-z-index;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba($color-warning, 1)
  }
}