h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1.1em;
}


h1, .h1 {
  font-size: $font-size-xlarge;

  @media (min-width: $screen-sm) {
    font-size: $font-size-xxlarge;
  }
}

h2, .h2 {
  font-size: $font-size-large;

  @media (min-width: $screen-sm) {
    font-size: $font-size-xlarge;
  }
}

h3, .h3 {
  font-size: $font-size-large;
}

h4, .h4 {
  font-size: $font-size-medium;
}

h5, .h5 {
  font-size: $font-size-base;
}


p {
  font-size: $font-size-small;
  margin-bottom: 1em;

  &.large {
    font-size: $font-size-base;
  }

  &.x-large {
    font-size: $font-size-xlarge;
  }


}
